# This is Git's per-user configuration file.
# Requires delta: https://github.com/dandavison/delta

[user]
    name = jantari
    email = jantari@github.com

[core]
    # -blank-at-eof stops empty trailing lines being marked as errors,
    # cr-at-eol prevents CRLF line endings from being highlighted as ^M errors in diffs
    whitespace = blank-at-eol, -blank-at-eof, space-before-tab, cr-at-eol

[pager]
    diff = delta --paging=never
    log = delta
    reflog = delta
    show = delta --paging=never
    blame = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[merge]
    # Show changes from both branches next to their
    # common base which makes some merge conflicts clearer
    conflictStyle = zdiff3 # Requires git 2.35+

[delta]
    features = line-numbers decorations
    #whitespace-error-style = 22 reverse
    #syntax-theme = Dracula

[delta "decorations"]
    commit-decoration-style = bold
    file-style = yellow ul
    file-decoration-style = none
    hunk-header-style = omit

[filter "lfs"]
    required = true

[credential]
    helper = manager-core

[credential "helperselector"]
    selected = manager-core

